.col-1{
    width: 8.33%;
 }
 .col-2{
    width: 16.63%;
 }
 .col-3{
    width: 25%;
 }
 .col-4{
    width: 33.33%;
 }
 .col-5{
    width: 41.33%;
 }
 .col-6{
    width: 50%;
 }
 .col-7{
    width: 58.33%;
 }
 .col-8{
    width: 66.66%;
 }
 .col-9{
    width: 74.99%;
 }
 .col-10{
    width: 83.33%;
 }
 .col-11{
    width: 91.66%;
 }
 .col-12{
    width: 100%;
 }
 .row{
    display: table;
    width: 100%;
    table-layout: fixed;

 }
 .col{
    display: table-cell;
    border: 1px solid red;
 }
 .col-h-1{
    height: 80px;
 }
 .col-h-2{
    height: 50px;
 }
 .col-h-3{
    height: 100px;
 }
 .col-h-4{
    height: 90px;
 }
 .col-h-5{
    height: 400px;
 }
 .col-h-6{
    height: 30px;
 }
 h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
    padding: 0px;
 }
 .heading-text{
    text-align: center;
    background-image: url(/image/padma.jpg);
 }
 img{
    height: 80px;
    width: 100%;
 }
 /* for mobile */
 @media (min-width:320px)and (max-width:480px){
    .col-s-1{
        width: 8.33%;
     }
     .col-s-2{
        width: 16.63%;
     }
     .col-s-3{
        width: 25%;
     }
     .col-s-4{
        width: 33.33%;
     }
     .col-s-5{
        width: 41.33%;
     }
     .col-s-6{
        width: 50%;
     }
     .col-s-7{
        width: 58.33%;
     }
     .col-s-8{
        width: 66.66%;
     }
     .col-s-9{
        width: 74.99%;
     }
     .col-s-10{
        width: 83.33%;
     }
     .col-s-11{
        width: 91.66%;
     }
     .col-s-12{
        width: 100%;
     }
     .d-none{
        display: none;
     }
 }
 /* for tab */
 @media (min-width:481px)and (max-width:767px){

 }
  /* for desktop */
  @media (min-width:768px)and (max-width:991px){

}
 /* for projector */
 @media (min-width:992px)and (max-width:1200px){

}
